.NavBar {
    background-color: rgb(131, 225, 241);
    margin: auto;
    padding: 0.5rem;
    text-align: center;
}

.whole-page {
    background-image: url(https://png.pngtree.com/background/20210711/original/pngtree-simple-fresh-music-poster-background-picture-image_1097526.jpg);
    height: auto;
    padding-left: 1rem;
    padding-top: 0.5em;
    padding-bottom: 1rem;
    background-size: 100%;
    background-repeat: repeat;
}

.song-presenter {
    text-decoration: none; 
}

.get-songs {
    background-color: rgb(238, 252, 253);
    width: 50%;
    padding: 20px;
    list-style-type: none;
}

.col-md-6 {
    padding: 2rem;
}

.search-song {
    padding-bottom: 2rem;
}


